/**
 * Переменные
 **/
/****
 * Миксины, разное
 ****/
b,
strong {
  font-family: 'Open Sans Bold', 'Open Sans', 'Tahoma', 'Arial', sans-serif;
}
.table {
  border-bottom: 1px solid #f2f2f2;
}
.table > thead tr th,
.table > tbody tr th {
  font-family: 'Open Sans Bold', 'Open Sans', 'Tahoma', 'Arial', sans-serif;
}
.table > thead tr th,
.table > tbody tr th,
.table > thead tr td,
.table > tbody tr td {
  padding: 12px 10px;
  border-color: #f2f2f2;
}
.dropdown-menu.tree a span {
  display: inline-block;
  width: 150px;
}
.dropdown-menu li.dropdown-filelink a {
  color: #468dd1;
}
.dropdown-menu li a {
  font-size: 13px;
}
.dropdown-menu li a:hover {
  background-color: #3e86c5;
  color: #fff;
}
.dropdown-menu li a:hover span,
.dropdown-menu li a:hover small {
  color: #fff;
}
.dropdown-menu li a:hover .glyphicon {
  color: #fff;
}
.dropdown-menu li a span {
  display: inline-block;
}
.dropdown-menu li a small {
  color: #97aab2;
}
.dropdown-menu li a .glyphicon {
  color: #96aab0;
}
.dropdown-menu li.zeroclipboard-is-hover a {
  background-color: #3e86c5;
  color: #fff;
}
.dropdown-menu li.zeroclipboard-is-hover a .glyphicon {
  color: #fff;
}
.dropdown-menu li.zeroclipboard-is-hover a .icon-file {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGlJREFUeNpi/P//PwMSYAXiXwzYASOIYEISEAbid0iSyBgOYBqEgPgeECsx4Af/GYBOEgLir0AsAnLefwhgQMMwsf+M/9E8gexeFJMhYv9ZcCjACZgYSATDQQMLUrARrYGRHBuItgUgwADRATckOoEtZAAAAABJRU5ErkJggg==");
}
